{% extends "base.html" %}

{% block title %}KMS | Pantry{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='calorieTracking.css') }}">
{% endblock %}

{% block content %}
  <div class = "dayMetaData">
    <div class = dayMetaDataRow> 
      <h2>{{ date }}</h2>
      <h3 style="margin-left: auto;">{{ dashBoardValues["Calories"] }} | {{calorieGoal}} kCals</h3> 
    </div>
    <div class = "dayMetaDataRow"> 
      <progress class = "progress-bar-modify" value="{{percentOfDailyGoal}}" max="1" style="width: 100%;"> </progress>
    </div>
    <div class = "dayMetaDataRow">
       <h3 class = "card-base carb-card"> Carbs: {{ dashBoardValues["Carbs"] | int }} </h3>
       <h3 class = "card-base protein-card"> Protein: {{ dashBoardValues["Protein"] | int }} </h3>
       <h3 class = "card-base fat-card">Fat: {{ dashBoardValues["Fat"] | int }} </h3>
    </div>
  </div>

  <form action = "{{mealItemSearchUrl}}" style="margin-bottom: 1rem;">
      <button type = "submit" class="addMealBtn" MealType ="Breakfast"> Add Meal</button>
  </form>
  
    {% if groupedByMealType | length == 0%}
      <div class = "errorCase"> 
        <p> It looks like you haven't recorded any meals for today {insert funny emoji here} </p>
      </div>
    {% else %}
      <div class = "itemDisplayContainer">
        {% for mealType in orderOfMealType%}
        <div> 
          <h2> {{mealType}}</h2>
          {% for value2 in groupedByMealType[mealType] %}
            <h3> {{value2}} </h3>
          {% endfor %}
        </div>
      {% endfor %}
      </div>
    {% endif%}
    
      

  <div id="dropdownMenu" class="dropdown">
    <a class="typeMealSelc" href="#">Choose From Recipe</a>
    <a class="typeMealSelc" href="#">Make New Recipe</a>
    <a class="typeMealSelc"  href="{{mealItemSearchUrl}}"> Other</a>
  </div>
<!-- The href's here will dynamically change as the user selects a differnet button to pass the mealType-->

{% endblock %}
{% block extra_js %}
  <script> window.mealItemSearchLink = "{{mealItemSearchUrl}}"</script> 
  <script defer src="{{ url_for('static', filename='calorieTrack.js') }}">  </script>
{% endblock %}
