{% extends "base.html" %}

{% block title %}KMS | Pantry{% endblock %}

{% block extra_css %}
<!-- <link rel = "stylesheet" href = "{{ url_for('static', filename = 'calorieTracking.css')}}"> -->
<link rel="stylesheet" href="{{ url_for('static', filename='calorieTracking.css') }}">

{% endblock %}


{% block content %}
      <h2> {{nutritionData.Date}} </h2>
      <h3> {{nutritionData.CaloriesConsumed}} kCals </h3> 

      <progress value = 25%> 25% </progress> 
      <h3> Carbs:{{nutritionData.Carbs}} Protein:{{nutritionData.Protein}} Fat:{{nutritionData.Protein}} </h3>
      <p class = baseNutriInfo>This is Calorie Tracking Main Page</p>
      <main class = container>
        <div> 
          <h2 class = mealTypeHeader> Breakfast </h2>
          <button class = "addMeal" onclick="console.log()"> AddMeal </button>

        </div>
              
        <div >
          <h2 class = mealTypeHeader> Lunch </h2>
          <button class = "addMeal" onclick="console.log()"> AddMeal </button>
        </div>
              
        <div>
          <h2 class = mealTypeHeader> Dinner </h2>
            <button class = "addMeal" onclick="console.log()"> AddMeal </button>

      </main>
      
      </div>

{% endblock %}
    
