{% extends "base.html" %}

{% block title %}KMS | User Profile {% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='userProfile.css') }}">
{% endblock %}

{% block content %}
<h2 class = "header-style"> User Profile </h2>

<form class = "user-settings-container">

    {% for key, value in userProfileData.items() %}
    <h3> {{key}} </h3> 
    <div class = "single-users-settings-container ">
        <input class = "user-settings-input" type = "text" disabled= "true" value = {{value}} defaultval = {{value}}> 
        <button class = "user-settings-edit" type = "button" onclick="toggleProfileSetting(this, '{{value}}')">Edit</button>
    </div>
    {% endfor %}

    <input id = submitChanges disabled class = "save-changes-btn" type="submit" value = "Save Changes" >
</form>

<script defer> 
    editedElements = Array(parseInt("{{userProfileData|length}}")).fill(false)

    function focusCursor(toBeFocoused){//Allows cursor to focus at the end of the newly selected box
        toBeFocoused.focus();
        textLength = toBeFocoused.value.length;
        toBeFocoused.setSelectionRange(textLength, textLength);
    }
    
    function beforeUnloadHandler(event) {
        var confirmationMessage = 'Are you sure you want to leave?';
        event.returnValue = confirmationMessage;
        return confirmationMessage;
    }

    function updateSubmitBtn(){
        allBtns = document.querySelectorAll(".user-settings-input");
        submit = document.getElementById("submitChanges")
        flag = false
        allBtns.forEach(btnElement => {
            if (btnElement.disabled == false) flag = true;
        });
        if (flag == false){
            window.removeEventListener("beforeunload", beforeUnloadHandler)
            submit.setAttribute("disabled", "");
        }else{
            
            window.addEventListener("beforeunload", beforeUnloadHandler)
            submit.removeAttribute("disabled");
        }
    }

    function toggleProfileSetting(btnElement, defaultVal){
        inptSection = btnElement.parentElement.getElementsByClassName("user-settings-input")[0];
        // console.log(inptSection.disabled == true);
        console.log(defaultVal)
        if (inptSection.disabled == true){
            inptSection.disabled = false;
            inptSection.style.opacity = "100%"
            btnElement.innerHTML = "Discard"
            focusCursor(inptSection)
            console.log("Button Enabled")
        }else{
             inptSection.disabled = true;
             inptSection.style.opacity = "50%"
             inptSection.value = defaultVal
             btnElement.innerHTML = "Edit"
             console.log("Button Disabled")
        } 
        updateSubmitBtn()
    }
</script>
<!-- {{userProfileData}} -->


{% endblock %}


