{% extends "base.html" %}

{% block title %}KMS | Pantry{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='calorieTracking.css') }}">
{% endblock %}

{% block content %}


<main class="container">
  <h2>Search for your food item here</h2>
  <form action = "/api_search_item_name" method = "POST"> 
    <input type = "search", id="search_input" name="search_input" placeholder="Type the name of your item here!!!" value = {{userquery}}> 
    <button type="submit" > Search </button>
    </form>
    
  <div class="resultContainer">
    {% if productResults is not none %}
        {% for item in productResults %}
            <div class = searchedItemContainer>
                <img class = itemImage src="{{ item['image_small_url'] }}">
                <div class = itemInfoContainer>
                    <p class = itemTitle><b>{{ item['product_name'] | default('N/A') }}</b></p>
                    <p class = itemInfo>Calories: {{ item['nutriments']['energy-kcal'] | default('N/A') }}</p>
                    <p class = itemInfo>Carbs: {{ item['nutriments']['carbohydrates'] | default('N/A') }}</p>
                    <p class = itemInfo>Protein: {{ item['nutriments']['proteins'] | default('N/A') }}</p>
                    <p class = itemInfo>Fat: {{ item['nutriments']['fat'] | default('N/A') }}</p>
                </div>
                <Button class = itemAddbutton> addMeal </Button>
                <!-- <button class = itemAddButton > Add Item </button> -->
                <!-- {{item["image_small_url"]}} -->
            </div>
        {% endfor %}
    {% endif %}
  </div>

  
</main>
{% endblock %}
{% block extra_js %}
  <script defer src="{{ url_for('static', filename='foodFactsApi.js') }}"></script>
{% endblock %}
