.mealTypeHeader{
    align-items: center;
    align-content: center;
    text-align: center;
    background-color: #666;
    color:azure;
    border-radius: 10px;
}

.container {
    max-width: 80ch;
    margin: 2rem auto;
    padding: 1.5rem;
    background: white;
    border: 1px solid #ddd;
    flex: 1;
}

.addMealBtn:active{
    background-color:#999
}

/* .baseNutriInfo {
    display: inline-block;
    padding: 0.35rem 0.75rem;
    border-radius: 4px;
    font-size: 0.85rem;
    font-weight: bold;
    margin-right: 0.5rem;
} */
 .nutriInfoCarbs {
    background: #f3e5f5;
    color: #7b1fa2;
}

.dropdown {
    position: absolute;
    display: none;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 12px 10px 2px 1px rgb(0 0 255 / 0.2);
    min-width: 150px;
    z-index: 1000;
}   

.dropdown a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333
}

.dropdown a:hover {
    background-color: #f0f0f0;
}

.searchedItemContainer{
    border: #333;
    background-color: #999;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: auto auto auto;

    /* display: flex;
    flex-direction: row;
    justify-content: space-evenly; */
}

.itemImage {
    width: 100px;/* Need to change this measurment*/
    height: 100px; 
    grid-column: 1;
    grid-row:  1;
    
}

.itemInfoitemInfoContainer {
    /* flex-direction: column; */
    /* align-self: center;
    align-self: baseline; */
    grid-column: 2;
    grid-row: 1
}

.itemInfo {
    padding: 0;
    margin: 0;
}
/* 
.itemTitle {
    grid-column: 2;
    grid-row: 1
}
*/
.itemAddbutton {
    grid-column: 3;
    grid-row: 1; 
} 
