.mealTypeHeader{
    align-items: center;
    align-content: center;
    text-align: center;
    background-color: #666;
    color:azure;
    border-radius: 10px;
}

.container {
    max-width: 80ch;
    margin: 2rem auto;
    padding: 1.5rem;
    background: white;
    border: 1px solid #ddd;
    flex: 1;
}

.addMealBtn:active{
    background-color:#999
}

/* .baseNutriInfo {
    display: inline-block;
    padding: 0.35rem 0.75rem;
    border-radius: 4px;
    font-size: 0.85rem;
    font-weight: bold;
    margin-right: 0.5rem;
} */
 .nutriInfoCarbs {
    background: #f3e5f5;
    color: #7b1fa2;
}

.dropdown {
    position: absolute;
    display: none;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 12px 10px 2px 1px rgb(0 0 255 / 0.2);
    min-width: 150px;
    z-index: 1000;
}   

.dropdown a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333
}

.dropdown a:hover {
    background-color: #f0f0f0;
}

