.user-settings-container {
    /* display: "flex";
    flex-direction: column;
    align-items: start; */
    margin: 0% 0%;
    max-width: 100%;
    
}

.single-users-settings-container {
    display: flex;   
    flex-direction: row;
    /* box-shadow: 0px 12px 0px 0px rgb(0 0 255 / 0.2); */
    padding-bottom: 1rem;
    border-bottom: 2px solid #ddd;
}

.user-settings-edit {
   order: 2;
   border-radius: 10px;
   width: 25%;
   margin-left: 5%;
   height: 2.5rem;

}

.user-settings-input {
    order: 1;
    border: 0px;
    background-color:lightgray;
    opacity: 100%;

    color: black;
    font-size: large;

    margin-bottom: 0%;
    height: 2.5rem;
}

.save-changes-btn {
    margin: 10% 10% 10% 10%;
}

.line {
    border-bottom: 2px solid #ddd;
    width: 100%;
    display:block;
}

.header-style {
    border-bottom: 2px solid #ddd;
}